//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

body{
	//font-family: 'Oswald', sans-serif;
	font-family: "Open Sans",sans-serif;
	-webkit-transition: -webkit-transform 500ms;
	overflow-x:hidden;
	&.popup_enable{
		overflow:hidden;
		
		.full_content_wrapper{
			//transform: translateX(-250px);
			//transition-duration: 500ms;
		}
	}
}

*{
	outline:none;
}

.main{
	//margin-top: 83px;
	padding:0!important;
	float:none!important;
	//font-family: 'Oswald', sans-serif;
}

.noPadding{
	padding:0!important;
}

.img-responsive{
	width:100%;
	max-width:auto;
}

a{
	outline:none!important;
	&:hover, &:focus{
		text-decoration:none;
		outline:none!important;
	}
}



//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}

//===============================================================================
//===============================================================================
// Extra Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-xl-min) {

}